.c-btn-outline-green {
    color: #014701;
    border-color: #014701;
    background-color: transparent;
}

.c-btn-outline-green:hover {
    color: #fff;
    background-color: #014701;
    border-color: #014701;
}

.c-fs-40 {
    font-size: 40px;
}

.c-list-habits-box-size {
    max-height: 400px;
}