body {
    background-color: #e6e3e3;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.c-green-letter {
    color: #014701;
}

.border-green {
    border-color: #014701 !important;
}